
/* GLOBAL */
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 500;
}


h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.h3, h3 {
  font-size: calc(1.3rem + .6vw);
}

p {
  display: block;
  margin-bottom: 15px;
}

/* NAVBAR */
.navbar-dark .nav-item .nav-link {
  color: #fff;
}

.navbar-dark .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  color: #fff;
}

.fa-li {
  position: relative;
  left: 0;
}

/* HEADER */
.navbar-toggler {
  display: none;
}

/* BANNER */
.fullbody {
  width: 100%;
  float: left;
  background: #fff;
  padding: 0;
  position: relative;
}

.homebanner {
  position: relative;
  overflow: hidden;
  background-image: url(../img/home_banner.jpg);
  height: 58vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* NAVBAR */
.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-brand {
  white-space: nowrap;
  color: #fff;
}

.mobile-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.nav-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-right: 15px;
  list-style: none;
}
.nav-item:not(:last-child) {
  margin-right: 15px;
}
.nav-item-link {
  text-decoration: none;
  color: #eee;
}
.search-form {
  margin-right: 15px;
}
.banner-start {
  position: absolute;
  top: 109px;
}

.banner-heading {
  font-size: 32px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'headings';
}

.banner-sub-heading {
  font-size: 22px;
  color: #eee;
  margin: 10px 0 25px;
}


/* COURSE DETAILS */
.section-heading {
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fefefe;
  font-size: 21px;
  font-weight: 500;
  background: linear-gradient(-45deg,#a13d74 0,#655b86 100%);
  padding: 10px 40px;
  border-radius: 50px;
}

.courseimg {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 85px;
  background-image: url(../img/1.png);
}

.coursenum {
  text-align: center;
  color: #ffb756;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0px;
}

.course_detail {
  color: #fefefe;
  font-weight: 500;
  font-size: 19px;
  text-align: center;
  position: relative;
  padding: 27px 0 35px;
}


/* KO'P QIDIRILGAN KURSLAR */
.popular-cources {
  margin-bottom: 20px;
}
.main-heading {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.card-img-top {
  object-fit: cover;
  width: 270px;
  height: 170px;
}
.card-img-top:hover {
  overflow: hidden;
  transform: scale(1.1);
}


/* FOOTER */
footer {
  background-color: #242529;
}

footer h5 {
  color: #fff;
}

footer .row {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.nav-link:hover {
  color: #0d6efd;
}

footer p {
  color: #eee;
}

.social-media {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.socials-heading {
  font-size: 18px;
}
.social-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}
.fa-facebook:hover {
  color: cornflowerblue;
}
.fa-instagram:hover {
  color: deeppink;
}



/* MEDIA */
@media only screen and (max-width: 992px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-toggler {
    display: block;
  }
  .search-form {
    margin: 0;
    margin-bottom: 10px;
  }
  .nav-list {
    display: block;
    margin-bottom: 10px;
  }
  .nav {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .mobile-menu {
    display: none;
    position: absolute;
    bottom: 0;
    transform: translateY(105%);
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    z-index: 50;
    background-color: #242529;
    width: 100%;
    left: 0;
    padding-left: 20px;
  }
  .section-heading {
    font-size: 18px;
  }
  .main-heading {
    font-size: 20px;
  }
}


@media only screen and (max-width: 768px) {

  .homebanner {
    background-image: url(../img/mobile-slider.jpg);
    height: 350px;
  }
  .mobile-menu {
    padding-left: 80px;
  }
  .section-heading {
    font-size: 16px;
  }
}

@media only screen and (max-width: 700px) {
  .mobile-menu {
    padding-left: 60px;
  }
  .section-heading {
    font-size: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .mobile-menu {
    padding-left: 40px;
  }
  .section-heading {
    font-size: 14px;
  }
}

@media only screen and (max-width: 479px) {
  .mobile-menu {
    padding-left: 20px;
  }
  .homebanner {
    height: 240px;
  }
  .banner-heading {
    font-size: 20px;
  }
  .banner-sub-heading {
    font-size: 14px;
  }
  .section-heading {
    font-size: 13px;
    padding: 10px 30px;
  }
}

@media only screen and (max-width: 459px) {
  h2 {
    font-size: 20px;
  }
  footer h5 {
    font-size: 16px;
  }
  .main-heading {
    font-size: 16px;
  }
}

@media only screen and (max-width: 423px) {
  .section-heading {
    padding: 10px 25px;
  }
  .socials-heading {
    font-size: 12px;
  }
}

@media only screen and (max-width: 400px) {
  .section-heading {
    padding: 10px 15px;
  }
}

@media screen and (max-width: 359px) {
  .coursenum {
    font-size: 15px;
}
  .course-detail {
    font-size: 11px;
  }
  .section-heading {
    padding: 10px 5px;
  }
}
